[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
datetime = "*"
seaborn = "*"
tqdm = "*"
plotly = "*"
jupyter = "*"
matplotlib = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.13"
